[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsar-client = "*"
redis = "*"
mysqlx-connector-python = "*"
mysql-connector-python = "*"
flask = "*"
jinja2 = "*"
mailjet-rest = "*"

[requires]
python_version = "3.10"

[dev-packages]
